@page "/appelapimethode3"
@using System.Text.Json
@using AspNetCoreWebApi1.Models

@inject HttpClient httpClient
@inject IJSRuntime JSRuntime

<h3>Appel API Méthode 3</h3>

<button @onclick="CallAPI">Cliquez ici pour appeler l'API</button>

<div class="mt-3">
    <ul>
        @foreach (User user in users)
        {
            <li>
                @user.Prenom @user.Nom (@user.Email)
            </li>
        }
    </ul>
</div>

@code 
{
    List<User> users = new List<User>();

    public async Task CallAPI()
    {
        try
        {
            var response = await httpClient.GetAsync("users");
            var apiResponse = await response.Content.ReadAsStringAsync();

            var data = JsonSerializer.Deserialize<List<User>>(apiResponse,
                        new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

            if (data != null) users = data;
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", ex.Message);
        }
        
    }
}
